.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/**
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### iOS
ios/Podfile.lock
ios/Pods/*
ios/ios.xcworkspace/*
ios/ios.xcodeproj/*
!ios/ios.xcodeproj/project.pbxproj
shared/shared.podspec

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

local.properties
